*{
    background-color: rgb(242, 155, 207);
}

p{
    color: white;
}

h1{
    color:yellow;
    display: inline;
}

div > p {
    font-weight: bolder;
    font-family: cursive;
}

div > div > p{
    font-size:44px;
}

#bigHeader{
    font-size: 100px;
}

.box{
    width: 100px;
    height: 100px;
    background-color: dodgerblue;
    margin: 5px auto;
    border-radius: 65px;
}

.border{
    border: 2px solid white;
}

#largeMarge{
    margin: 10px 5px;
    padding-left: 50px;
    background-color: darkolivegreen;
}

.flag{
    height: 500px;
    width: 750px;
    border: 3px solid black;
    background-color: white;
}

#dot{
    height: 200px;
    width:200px;
    background-color: red;
    border-radius: 100%;
    margin: 20% auto;
}

table, th, td{
    border:2px solid rgb(242, 155, 207);
    background-color:aquamarine;
}

th{
    border-bottom: 5px solid black;
}